{% extends 'data_viewer/base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Review Syncer -> Updated at {{ last_update }} - Next update scheduled for {{ next_update }}</li>
</ol>
<!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="/monthlyreviews/" style="text-decoration: none;">
      <div class="card text-white bg-primary o-hidden h-80">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-comments"></i>
          </div>
          <div class="mr-5">{{ reviews.11 }} New Reviews this Month!</div>
        </div>
      </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="/monthlyreviews/?term=good_reviews" style="text-decoration: none;">
      <div class="card text-white bg-success o-hidden h-80">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-check-square"></i>
          </div>
          <div class="mr-5">{{ reviews_per_rating.4|add:reviews_per_rating.3 }} Good Reviews!</div>
        </div>
      </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="/monthlyreviews/?term=regular_reviews" style="text-decoration: none;">
      <div class="card text-white bg-warning o-hidden h-80">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
          </div>
          <div class="mr-5">{{ reviews_per_rating.2 }} Regular Reviews</div>
        </div>
      </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <a href="/monthlyreviews/?term=bad_reviews" style="text-decoration: none;">
      <div class="card text-white bg-danger o-hidden h-80">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-times-circle"></i>
          </div>
          <div class="mr-5">{{ reviews_per_rating.1|add:reviews_per_rating.0 }} Bad Reviews</div>
        </div>
      </div>
      </a>
    </div>
  </div>
  <!-- Area Chart Example-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-area-chart"></i> Monthly Reviews</div>
    <div class="card-body">
      <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Reviews per Rating
          <select id="products-select" name="products" style="float: right;" onchange="changeData()">
            {% for k in review_per_product.keys %}
              <option value="{{k}}">{{k}}</option>
            {% endfor %}
          </select>
          </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8 my-auto">
              <canvas id="myBarChart" width="100" height="50"></canvas>
            </div>
            <div class="col-sm-4 text-center my-auto">
              <div id="product-name" style="margin-top: -20px; margin-bottom: 20px; font-weight: 500; font-size: 130%; color:#404040;"></div>
              <div id="good-reviews" class="h4 mb-0 text-primary"></div>
              <div class="small text-muted">Good Reviews (4-5 Stars)</div>
              <hr>
              <div id="regular-reviews" class="h4 mb-0 text-warning"></div>
              <div class="small text-muted">Regular Reviews (3 Stars)</div>
              <hr>
              <div id="bad-reviews" class="h4 mb-0 text-success"></div>
              <div class="small text-muted">Bad Reviews (1-2 Stars)</div>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Example Pie Chart Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i> Total Reviews per Product</div>
        <div class="card-body">
          <canvas id="myPieChart" width="100%" height="71"></canvas>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>
  </div>
  <!-- Example Notifications Card-->
  <div class="card mb-3" style="width: 100%;">
    <div class="card-header">
      <i class="fa fa-bell-o"></i> Newest Reviews</div>
    <div class="list-group list-group-flush small">
      {% for review in latest_reviews %}
      <a class="list-group-item list-group-item-action" href="#">
        {% if review.star_rating == 1 or review.star_rating == 2 %}
        <div style="position: absolute; top: 0; left: 0; height: 100%; width: 20px; background-color: #dc3545; margin-bottom: -1px;
                    border-top-right-radius: 5px; border-bottom-right-radius: 5px;"></div>
        <div class="media" style="margin-left: 20px;">
        {% else %}
        <div class="media">
        {% endif %}

          <div style="margin: 8px 15px 0px -10px;">
            {% if review.star_rating == 5 or review.star_rating == 4 %}
            <span style="font-size: 200%; color: #28a745;">
            {% elif review.star_rating == 3 %}
            <span style="font-size: 200%; color: #ffc107;">
            {% else %}
            <span style="font-size: 200%; color: #dc3545;">
            {% endif %}
            {{ review.star_rating }}<i class="fa fa-star" style="margin-left: 2px;"></i></span>
          </div>
          <div class="media-body">
            {% if not review.updated_at %}
                <div style="text-decoration: underline;"><strong>{{ review.shop_domain }}</strong> posted a new review for <strong>{{ review.app.name }}</strong>:</div>
                <div class="text-muted">{{ review.body|truncatechars:200 }}</div>
                <div class="text-muted smaller">Created on {{ review.created_at|date:'Y F d' }} at {{ review.created_at|date:'H:i' }}</div>
            {% else %}
                <div style="text-decoration: underline;"><strong>{{ review.shop_domain }}</strong> updated a review for <strong>{{ review.app.name }}</strong>:</div>
                <div class="text-muted">{{ review.body|truncatechars:200 }}</div>
                <div class="text-muted smaller">Updated on {{ review.updated_at|date:'Y F d' }} at {{ review.updated_at|date:'H:i' }}</div>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
      <a class="list-group-item list-group-item-action" href="#">View all activity...</a>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
  </div>
    <script>
        var footer_divs = document.getElementsByClassName("card-footer small text-muted");
        var i;
        for (i=0; i<footer_divs.length; i++){
            footer_divs[i].innerHTML = "Updated at {{ last_update }}";
        }
        
        var months = [];
        {% for m in months %}
            months.push('{{m}}');
        {% endfor %}
        var reviews = [];
        {% for r in reviews %}
            reviews.push({{r}});
        {% endfor %}
        var products = [];
        var rev_per_product = [];
        {% for mykey, myvalue in review_per_product.items %}
            products.push('{{mykey}}');
            rev_per_product.push({{myvalue|length}});
        {% endfor %}
        var star_ratings = ['1', '2', '3', '4', '5'];
        var star_ratings_count = [0, 0, 0, 0, 0];
    </script>
    <script src="{% static 'js/sb-admin-charts.js' %}"></script>
    <script type="text/javascript">
        drawSelectedChart();
        changeData();
        function changeData(){
            var pSelect = document.getElementById("products-select");
            var selected = pSelect.options[pSelect.selectedIndex].value;
            document.getElementById("product-name").innerHTML = selected;
            star_ratings_count = [0, 0, 0, 0, 0];
            {% for mykey, myvalue in review_per_product.items %}
                {% for value in myvalue %}
                    if(selected == '{{mykey}}')
                        star_ratings_count[{{value.star_rating}}-1]++;
                {% endfor %}
            {% endfor %}
            var totalReviews = star_ratings_count.reduce((a, b) => a + b, 0);
            var goodReviews = star_ratings_count[4] + star_ratings_count[3];
            var regularReviews = star_ratings_count[2];
            var badReviews = star_ratings_count[0] + star_ratings_count[1];
            document.getElementById("good-reviews").innerHTML = goodReviews + " (" + (goodReviews*100/totalReviews).toFixed(2) + "%)";
            document.getElementById("regular-reviews").innerHTML = regularReviews + " (" + (regularReviews*100/totalReviews).toFixed(2) + "%)";
            document.getElementById("bad-reviews").innerHTML = badReviews + " (" + (badReviews*100/totalReviews).toFixed(2) + "%)";
            console.log(goodReviews + " - " + regularReviews + " - " + badReviews + " - " + totalReviews);
            updateBarChart(star_ratings_count);
        }
    </script>
{% endblock %}