{% extends 'data_viewer/base.html' %}

{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/index">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Monthly Reviews{% if request.GET.term %} - {{ request.GET.term }} {% endif %}</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Data Table Example</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Star Rating</th>
              <th>Shop Name / Domain</th>
              <th>Product</th>
              <th>Body</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Star Rating</th>
              <th>Shop Name</th>
              <th>Product</th>
              <th>Body</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </tfoot>
          <tbody>
          {% for review in monthly_reviews %}
            <tr>
              <td>{{ review.star_rating }}</td>
              <td>{{ review.shop_name }}</td>
              <td>{{ review.app.name }}</td>
              <td>{{ review.body|truncatechars:100 }}</td>
              <td><span style="display: none;">{{ review.created_at|date:"dmYGis" }}</span>{{ review.created_at }}</td>
              <td><span style="display: none;">{{ review.updated_at|date:"dmYGis" }}</span>{{ review.updated_at }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted"></div>
</div>

<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#dataTable').DataTable( {
        "order": [[ 4, "asc" ]],
        "bDestroy": true
    } );
} );
</script>
{% endblock %}